import { client } from "./base";

type {{ convert .name true false  }} = {
    id: string;
}

export class {{ convert .name true false }}Client {

    private static endpoint: string = "{{ convert .name false true }}";

    private static parse{{ convert .name true false }}(content: any): {{ convert .name true false }} {
        return {
            id: content.id
        }
    }

    static async find{{ convert .name true true }}(): Promise<{{ convert .name true false }}[]> {
        return (
            await client.get({
                endpoint: this.endpoint, 
            })
        ).contents.map((content: any) => this.parse{{ convert .name true false }}(content));
    }

    static async get{{ convert .name true false }}(contentId: string): Promise<{{ convert .name true false }}> {
        return this.parse{{ convert .name true false }}(await client.get({ endpoint: this.endpoint, contentId }));
    }

}